body {
    min-height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2d2f5), color-stop(#f3ceef), color-stop(#f4cbe9), color-stop(#f5c7e3), to(#f5c4dd));
    background-image: linear-gradient(to bottom, #f2d2f5, #f3ceef, #f4cbe9, #f5c7e3, #f5c4dd);
}